h1 {
  color: red;
}
title {
  color: red;
}

body {
    text-align: center;
    background: url("http://68.media.tumblr.com/88736866b1e6d5589c611bddf6a2fc67/tumblr_ofb3663y3F1u7632do4_r1_1280.jpg");
    background size: cover;
    background position: center;
    color: red;
    font-family: Times;
  }

  Img{
    border-radius: 50%;
  }

  img.resize {
    max-width: 30%;
    max height: 30%;
  }

  p {
    font-size: 30px
  }

  Input {
    border: 0;
    padding: 10px;
    font-size: 18px;
  }
  input[type="submit"] {
    background: red;
    color: white;
    font-family: Times;
  }

  input[placeholder] {
    font-family: Times;
  }
