

h1 {
  color:black;
}
title {
  color:black;
}

body {
  text-align: center;
  background: url("https://images.fineartamerica.com/images-medium-large-5/9-cogs-les-cunliffe.jpg");
  background size: cover;
  background position: center;
  color:black;
  font-family: sans-serif;
  padding-left: 200px;
  padding-right: 200px;
}

div {
  background-color:lightgrey;
  text-color:darkred;
  padding:20px
}
/*
.image1{
  border-radius: 50%;
  max-width: 30%;
  max-height: auto;
  padding-left: 30px;
  padding-right: 30px;
}
*/
.image2{
  image:center;
  max-width: 500px;
  max-height: 500px;
  padding-left: 100px;
  padding-right: 100px;
}

p {
font-size: 15px;
color:black;
}

h1, h2, h3 {
color: darkred;
}


Input {
border: 0;
padding: 10px;
font-size: 15px;
}
input[type="submit"] {
background:#B22222;
color: white;
font-family: sans-serif;
}

input[placeholder] {
font-family: sans-serif;
}
.content {
background-color: grey;
}
